<mat-dialog-content>

    <section style="overflow: auto;">
        <div style="display: grid; gap: 64px; grid-template-columns: 1fr 500px;">
            <div>
                <div>
                    <p>{{data?.proprietario}}</p>
                </div>
            </div>
            <form action="" style="display: grid;grid-gap: 12px;">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="Nome">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="Telefone">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="E-mail">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="input-group">
                            <textarea name="" id="" cols="30" rows="10" class="form-control">Olá, gostaria de ter mais informações para aluga: {{data?.titulo}}, {{data?.valor | currency: "BRL"}}, {{data?.logradouro}}, {{data?.numero}} - {{data?.bairro}} - {{data?.cidade?.nome}}, {{data?.cidade?.uf}}, que encontrei no EuAlugo, aguardo seu contato, obrigado(a).</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- <form action="" [formGroup]="formulario">
        <div class="row">
            <div class="col-lg-6">
                <label for="usuario">{{data?.name}}</label>
                <p></p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label for=""> Nome</label>
                    <div class="input-group">
                        <input type="text" formControlName="name" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="">E-mail</label>
                    <div class="input-group">
                        <input type="email" formControlName="email" name="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="">N° Celular</label>
                    <div class="input-group">
                        <input type="email" formControlName="celular" name="celular" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="">Senha Atual</label>
                    <div class="input-group">
                        <input type="password" formControlName="password" name="password" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </form> -->
</mat-dialog-content>
<mat-dialog-actions class="float-right">
    <button class="btn btn-info" style="background: orangered; border: none;" type="submit">Alterar
        Dados</button>
    <button mat-button type="button" (click)="dialogRef.close()">Fechar</button>
</mat-dialog-actions>