<!-- <div class="container"> -->

<!-- <div class="img">
    <img src="../../assets/img/fundo-sites.jpg" alt=""  width="2200" height="1080">
</div> -->

<!-- <main> -->
<!-- <div class="form"> -->
<!-- <div class="form-container"> -->
<div class="form-content">
    <div class="form-text col-lg-4" style="position: sticky;">
        <h1
            style="font-size: 3rem; line-height: 1.17; margin-bottom: 64px; margin-top: 60px; margin-left: 40px; display: grid; color: black;">
            Anuncie rápido e prático no
            <strong style="color: orangered;">Eu Alugo</strong>
        </h1>
    </div>
    <div class="form-row">
        <div class="col-lg-4">
            <div>
                <label for="" style="color: orangered;">Nome Do Proprietário</label>
                <input type="text" class="form-control" style="background-color: bisque;">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <label for="" style="color: orangered;">Nº de Celuar</label>
                <input type="text" class="form-control" style="background-color: bisque;" placeholder="(00) 0000-0000">
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </main> -->

<!-- </div> -->