* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: "Rubik";
}
.header .title{
    background: url(../../../assets/img/home-bg-blur.jpg) ;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .title h1{
    text-align: center;
}
/* card form init */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}
.card-form {
    width: 80%;
    margin: auto;
    border-radius: 16px;
    padding: 48px;
    box-shadow: 1px 1px 8px 4px rgba(114, 114, 114, 0.068);
}
.card-header {
    background: none;
    margin-bottom: 24px;
}
.card-header h3{
    font-size: 36px;
}
.card-header p{
    font-size: 14px;
    color: var(--secondary-color);
}
.red{
    color: red;
}
/* .card-nav {
    box-shadow: 1px 0px 8px 4px rgba(114, 114, 114, 0.068);
    
} */
mat-tab-group {
    /* box-shadow: 1px 0px 8px 4px rgba(114, 114, 114, 0.068); */
    padding: 16px;
}

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* init form control */

.icon-form {
    color: red;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group{
    margin-right: 15px;
    margin-bottom: 15px;
}
/* .form-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}


.img {
    width: 100%;
    height: 93%;
    position: absolute;
    overflow: auto; overflow: hidden;
}

#input {
    text-align: center;
}

.form-row{
    margin-left: 400px;
}

label{
    font-weight: bold;
}

input{
    border-radius: 40px;
    text-align: center;
    border: 1px solid;
    font-weight: initial
}
.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  } */
  
 