
<header>
    <nav>

        <a class="logo" href="/">EuAlugo</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="login">Entrar</a></li>
            
            <li><a href="cadastro">Criar Conta</a></li>
            <li><a href="/">Contato</a></li>
            <!-- <li>
                <a href="login" >{{token?.user.name ? token?.user.name  : 'Entrar'}}</a>
                <form action="" class="logout" method="POST" style="display: none">
                    
                </form>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="login" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{token?.user.name ? token?.user.name  : 'Minha Conta'}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="token" style="padding: 10px 10px 10px 10px;">
                  <a class="dropdown-item" [routerLink]="['/minhaconta']">Minha conta</a>
                  <a class="dropdown-item" href="#">Esqueci a Senha</a>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" (click)="logout()">Sair</button>
                </div>
              </li>
        </ul>

    </nav>
</header>
<script src="../../src/assets/js/navbar.js"></script>


<router-outlet></router-outlet>
