
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

:root {
  --primary-color: orangered;
  --secondary-color: #37517e;
  --featured-color: #ffee00;
  --hover-button: #FFEA81;
}
.metade{
    width: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.metade .btn{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: var(--primary-color);
}

body {
    font-family: "Nunito", sans-serif;
    color: #444444;
  }
  
  a {
    color: #47b2e4;
  }
  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
  }

  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #47b2e4;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #209dd8;
    color: #fff;
  }
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 80vh;
    /* background: khaki; */
    background-image: url('/assets/img/topo-bg.jpg');
  }
  
  #hero .container {
    /* padding-top: 72px; */
  }
  
  #hero h1 {
    margin: 0 100px 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    /* letter-spacing: -5.5px; */
    color: var(--featured-color);
    /* color: #ffee00; */
  }
  
  #hero h2 {
    color:white;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 18px;
  }
  
  #hero .btn-anuncio{
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 16px 24px 16px 24px;
    transition: 0.8s;
    color: var(--primary-color);
    background: var(--featured-color);
    margin: 0 32px 0 18px;
    border-radius: 48px;

  }
  #hero .btn-anuncio:hover {
    background: var(--secondary-color);
    color: white;
  }

  #hero .btn-alugo {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 16px 24px 16px 24px;
    transition: 0.8s;
    color: var(--primary-color);
    background:white;
    margin-right: 32px;
    border-radius: 48px;
  }
  
  #hero .btn-alugo:hover {
    background: var(--secondary-color);
    color: white;
  }

  .container-60 {
    width: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title {
  margin-bottom: 36px;
}
.title h2 {
  text-align: center;
  letter-spacing: -0.5px;

}
 .title h6 {
   text-align: center;
   color: grey;
   font-weight: 300;
   font-size: 18px;
 } 
/* ====== FORMULÁRIO ALUGAR ====== */
.card-form {
  display:grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1;
}
 form {
   border: 1px solid #dddddd;
   padding: 36px;
   border-radius: 16px;
 }

 form .fields {
 display: flex;
 margin: 24px 0;
 }

 

 form label {
  font-size: 14px;
  margin: 6px 16px 0 6px;
}

 form ng-select {
  cursor: pointer;
  min-width: 16px;
  width: 35%;
  user-select: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin-right: 24px;

 }

 form input {
  min-width: 16px;
  max-width: 24%;
  margin-right: 24px;
 }
 form button {
  font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    border-radius: 36px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.8s;
    background: var(--primary-color);
    color: white;
    border: none;
    /* line-height: 40px; */
    width: 16%;
 }

 form button:hover{
   background: var(--hover-button);
   /* color: var(--primary-color) */
 }

 .material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;
 line-height: 1;
 letter-spacing: normal;
 display: inline-block;
 white-space: nowrap;
 word-wrap: normal;
 direction: ltr;
 -webkit-font-feature-settings: 'liga';
 -webkit-font-smoothing: antialiased;
 color: var(--primary-color);
 vertical-align: middle;
 }



  #hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
  }
  
  #hero .btn-watch-video i {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
  }
  
  #hero .btn-watch-video:hover i {
    color: #47b2e4;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
    #hero {
      height: 100vh;
      text-align: center;
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
    #hero .btn-watch-video {
      font-size: 16px;
      padding: 10px 0 8px 40px;
      margin-left: 20px;
    }
    #hero .btn-watch-video i {
      font-size: 32px;
      top: 7px;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    font-size: 14px;
    /* background: khaki; */
  }
  
  #footer .footer-newsletter {
    padding: 50px 0;
    background: khaki;
    text-align: center;
    font-size: 15px;
    color: orangered;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: orangered;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    /* background: khaki; */
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #209dd8;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    /* background: khaki; */
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: orangered;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: orangered;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #37517e;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #37517e;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: orangered;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: orangered;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: khaki;
    color: orangered;
    text-decoration: none;
  }
  
  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: orangered;
  }
  
  #footer .copyright {
    text-align-last: center;
  }
  
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  
  #footer .credits a {
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #footer .copyright, #footer .credits {
      text-align: center;
      float: none;
    }
    #footer .credits {
      padding-top: 4px;
    }
  }

  /* services */
  .services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}
  