<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>EuAlugo e anuncio sem sair do sofá!
                </h1>
                <h2>O lugar ideal para você
                    <strong style="color: white;">encontrar</strong>
                    e
                    <strong style="color: white;">anunciar</strong>
                    seu imóvel.</h2>
                <div class="row">
                    <div class="d-lg-flex">
                        <a href="/criar-anuncio" class="btn-anuncio scrollto">Quero Anunciar</a>
                    </div>
                    <div class="d-lg-flex">
                        <a href="/anuncios" class="btn-alugo scrollto">Quero Alugar</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<section>
    <div class="container-60">
        <div class="title">
            <h2>Alugar e anunciar nunca foi tão fácil.</h2>
            <h6>Seu imóvel está a um passo.
            </h6>
        </div>

        <form [formGroup]="form">

            <div class="fields">

                <label>
                    <span class="material-icons">map</span>
                    Estado
                </label>
                <ng-select formControlName="uf" name="uf" (change)="buscarCidadesPorUf(form.value.uf)" placeholder="Estado">
                    <ng-option *ngFor="let uf of estados" [value]="uf">{{uf}}
                    </ng-option>
                </ng-select>
                <label>
                    <span class="material-icons">place</span>
                    Cidade
                </label>
                <ng-select name="cidades" placeholder="Selecione uma Cidade">
                    <ng-option *ngfor="let city of arrayCidades" [value]="city">
                        {{city.nome}}
                    </ng-option>
                </ng-select>

            </div>

            <div class="fields">
                <label>
                    <span class="material-icons">maps_home_work</span>
                    Bairro
                </label>
                <input class="form-control" type="text" placeholder="Busque por Bairro">

                <label>
                    <span class="material-icons">night_shelter</span>
                    Nº de Quartos
                </label>
                <input class="form-control" type="text" placeholder="Nº de Quartos">

                <button>
                    Buscar
                </button>

            </div>
        </form>
    </div>
</section>
<section id="anuncios">
    <div class="section-title">
        <h2>Anúncios em
            <strong>Destaque</strong>
        </h2>
        <p>
            Confira nossos anúncios em destaque!
        </p>
    </div>

    <div class="cards">
        <div class="card" *ngfor="let data of arrayAnuncios">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active img-card" *ngfor="let img of data.imagens; let i = index" [ngclass]="{'active':i==0}">
                        <img [src]="'http://localhost:8000/'+'api/imagem/'+img.id">

                    </div>

                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

                <div class="title-card">
                    <h1>{{data.titulo}}</h1>
                </div>
                <div class="main-info">
                    <div class="bedrooms">
                        <span class="material-icons">king_bed</span>
                        <p>{{data?.qtd_quartos}}
                            Quartos</p>
                    </div>
                    <div class="bathrooms">
                        <span class="material-icons">bathroom</span>
                        <p>{{data?.qtd_banh}}
                            Banheiros</p>
                    </div>
                </div>
                <div class="map">
                    <span class="material-icons">location_on</span>
                    <p>{{data?.cidade.nome}}
                        -
                        {{data?.cidade.uf}}</p>
                </div>
            <div class="price">
                <p>{{data?.valor | currency: "BRL"}}</p>
            </div>
            <div class="button">
                <a [routerlink]="['/single-anuncio/', data.id]">Ver Anúncio</a>
            </div>
        </div>
    </div>
</div>

</section>
<footer id="footer">
<div class="footer-top">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 footer-contact">
                <h3>EuAlugo</h3>
                <p>
                    Avenida Mangará, Jardim Mangará
                    <br>
                    Santa Fé do Sul, SP 15775-000<br>
                    Brasil
                    <br><br>
                    <strong>Celular:</strong>
                    (64) 11234-32123<br>
                    <strong>Email:</strong>
                    contato@eualugo.com.br<br>
                </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Mapa do site</h4>
                <ul>
                    <li>
                        <i class="bx bx-chevron-right"></i>
                        <a href="#">Início</a>
                    </li>
                    <li>
                        <i class="bx bx-chevron-right"></i>
                        <a href="/criar-anuncio">Anunciar Imóvel</a>
                    </li>
                    <li>
                        <i class="bx bx-chevron-right"></i>
                        <a href="/anuncios">Encontrar Imóvel</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Nossas redes sociais</h4>
                <div class="social-links mt-3">
                    <a href="#" class="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="google-plus">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#" class="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container footer-bottom clearfix">
    <div class="copyright">
        &copy; Copyright
        <strong>
            <span>EuAlugo</span></strong>. Todos os Direitos Reservados
    </div>

</div>
</footer>
<a href="#" class="back-to-top">
<i class="ri-arrow-up-line"></i>
</a>
<div id="preloader"></div>